html, body{
	height: 100%;
}

header{
	width: 100%;
	background-color: #000;
	min-height: 90%; 
	padding-top: 10%;
}

header h1, h2, h3{
	color: #FFF;
}

header h3{
	margin-bottom: 100px;
}

#center{
	margin: auto;
	text-align: center;
}

#featured a{
	padding-right: 20px;
}

#featured a:last-child{
	padding-right: 0px;
}

#cinza{
	padding-top: 5%;
	margin: 0px;
}

#suggest{
	text-align: right;
}

footer{
	padding-top: 5%;
	font-size: 14px;
}

footer a{
	color: #cbb2b2;
	padding-right: 20px;
}

.store{
	background-color: #FFF;
	transition: background-color 0.3s linear 0.1s;
	width: 100%;
	height: auto;
	padding: 10px;
}

.store:hover{
	background-color: #ddd3d3;
	transition: background-color 0.5s linear 0.1s;
}

.store-left{
	display: inline-block;
	height: auto;
	width: auto;
}

.store-right{
	text-align: right;
	float: right;
	display: inline-block;
	height: auto;
	width: auto;
	margin: auto 0;
}