html, body{
	height: 100%;
}

/* General header */
header{
	width: 100%;
	background-color: #000;
}

header h1, h2, h3{
	color: #FFF;
}

#general-header{
	min-height: 10% !important;
}

#general-header h1{
	margin: 0px;
	padding: 6px 0px 0px 0px;
}

#general-header h1 a{
	margin: 0px;
	padding: 0px;
	color: #FFF;
	transition: color 0.3s linear 0.1s;
}

#general-header h1 a:hover{
	color: #9dc1f2;
	transition: color 0.3s linear 0.1s;
}

/* Index.html.erb stylesheet */
#index-main{
	padding: 10% 0% 0% 0%;
	background-color: #000;
	color: #FFF;
	min-height: 90%;
	width: 100%;
	margin: 0;
}

#index-main h1 h2 h3{
	color: #FFF;
}

#index-main h3{
	margin-bottom: 50px;
}

#searchbar-top{
	margin-top: 20px;
	height: auto;
}

#index-footer{
	min-height: 10%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
}

#featured a{
	padding-right: 20px;
}

#featured a:last-child{
	padding-right: 0px;
}

#cinza{
	padding-top: 3%;
	margin: 0px;
	min-height: 100%;
}

/* General footer */
footer{
	font-size: 14px;
	border: 0px;
	bottom: 0;
	left: 0;
	background-color: #f2f2f2;
	padding: 10px 0px;
}

footer .panel{
	border: 0px;
}

footer a{
	color: #cbb2b2;
	padding-right: 20px;
}

/* Stores stylesheet */
.store{
	background-color: #FFF;
	transition: all 0.2s linear 0.1s;
	width: 45%;
	margin: 0% 0% 5% 5%;
	/* min-height: 200px; */

	min-height: 293px;
	height: auto;
	/* display: table; */
	float: left;
	padding: 2%;
	border: 1px dotted #888;
}

a .store{
	color: #666;
}

.store img{
	margin: 20px auto;
	display: block;
	height: 147px;
	width: 200px;
}

.store-inner{
	display: table-cell;
	vertical-align: middle;
}

.store:hover{
	transition: all 0.3s linear 0.1s;
	border: 1px solid #888;
	/* border-color: #000;
	 -moz-box-shadow: -5px -5px #888;
	-webkit-box-shadow: -5px -5px #888;
	box-shadow: -5px -5px #888; */
}




/* 
.store:hover{
	background-color: #ddd3d3;
	transition: all 0.3s linear 0.1s;
	border-color: #000;
}

.store-left{
	display: inline-block;
	height: auto;
	width: auto;
}

.store-right{
	text-align: right;
	float: right;
	display: inline-block;
	height: auto;
	width: auto;
	margin: auto 0;
}

.store-above{
	padding: 10px;
}

.store-bottom{
	width: 100%;
	height: 40px;
	padding: 10px;
	margin: 0px;
	border-top: 1px solid #bdb3b3;
} 

.store-bottom .left {
	height: 100%;
}

.store-bottom .right {
	height: 100%;
}

*/



/* Logo */
#logo{
	color: #FFF;
}


