<div class="panel" id="cinza">
  	<div class="row">
    	
    	<div class="large-12 columns">
	    	<h1># About</h1>
	    	<h3>Bitcoin will revolutionize the world, so join us.</h3>
	    	<br/>

	    	<h5>

	    		<p>BTC-Stores is a website for who believe in Bitcoins - and who want better ways to buy and sell things with this wonderful cryptocurrency. We provide better ways to explore and find stores that accept this as payment method. With this, we want popularize Bitcoin and make this revolution a true.</p>

	    		<p>We're always looking for any interesting proposals, so feel free to <a href="<%= url_for static_contact_path %>">contact us</a> about <b>anything</b>.</p>

	    		<hr>
	    		
	    		<p>Maybe you want to know our <i>big</i> team. See a little summary about us below.</p>

	    		<p><strong>Fernando Paladini</strong> ~> Programmer, left-wing, really worries about the social part of the things and dream that one day will change the world. Open-source evangelist and defend a free world with same conditions to everyone. Have hobbies like music (play instruments), political, economics, philosophy, physics and art. Always will fight against <i>status quo</i>.</p>

	    		<br/>

	    		<p><strong>Guilherme Sousa</strong> ~> Idealist, nerd, passionate with science and enthusiast of freedom of the information and knowledge. Believe in a fair society where corporations don't control the economy, but the people - a people that don't have a name and don't have a address, just a ideal.</p>
	    	</h5>
    	</div>
	</div>
</div>


