<!-- Page title -->
<% title "Contact # Ready for a coffee?" %>

<!-- Meta tags -->
<% set_meta_tags :description => 'We want hear you. Come talk to us - The first open-source Bitcoin directory of sites that accept Bitcoin as payment method. We <3 You.',
      :keywords => 'Bitcoin, Directory, Stores, payment, method, sites, accept, contact, btc', 
      :robots => 'index, follow',
      :author => ["Fernando Paladini", "Guilherme Passos"],
      :og => {
        :title    => "Contact US # BTC-Stores",
        :type     => 'website',
        :url      => request.original_url,
        :site_name => 'BTC-Stores'
      },
      :twitter => {
        :card => "summary",
        :title => "Contact US # BTC-Stores",
        :description => "We want hear you. Come talk to us - The first open-source Bitcoin directory of sites that accept Bitcoin as payment method. We <3 You."
      }
  %>

<div class="panel" id="cinza">
  	<div class="row">
		<h1># Contact</h1>
		<h3>Want talk with us about anything? You're in the right place.</h3>
		<br />

		<h5>

			We love hear stories and talk about anything. If you have any thing that you want comment with us, please feel free to contact us right now - we always will reply your e-mail.

			<br/><br/>
			Contact us at <a href="mailto:fernandopalad@gmail.com">fernandopalad@gmail.com</a>.

		</h5>
	</div>
</div>