<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/modernizr.js"></script>
  </head>
  <body>
    
    
    <header>
        <div class="row">
          <div class="small-12 large-12 columns text-center">
            <h1>BTC-Stores</h1> 
            <h3>The best way to find bitcoin stores worldwide.</h3>
          </div>
        </div>

        <div class="large-12 columns">
          <div class="row collapse">
            <div class="large-2 columns">&nbsp;</div>
            <div class="small-6 columns">
              <input type="text" placeholder="Search stores by term, name or country..." />
            </div>
            <div class="small-2 columns">
              <a href="" class="postfix button">Search</a>
            </div>
            <div class="large-2 columns">&nbsp;</div>
          </div>
        </div>

        <br/>
        
        <div class="row">
          <nav>
            <div id="featured" class="small-8 large-12 columns text-center">
              <p>
                <a href="">Electronics</a>
                <a href="">Music</a>
                <a href="">Books and Reading</a>
                <a href="">Sports</a>
                <a href="">Health & Personal Care</a>
                <a href="">Toys</a>
              </p>
              
              <p>
                <a href="">Softwares & Games</a>
                <a href="">Food</a>
                <a href="">Miscellaneous</a>
                <a href="">Home & Garden</a>
              </p>

            </div>
          </nav>
        </div>
        </div>
    </header>
    
    <div class="panel" id="cinza">
      <div class="row">

        <h3>Recently added stores:</h3>
        <br/>
        <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
        <p>Once you've exhausted the fun in this document, you should check out:</p>

      </div>
      <br/><br/>
      <div class="row">
        <div class="large-12 columns large-centered text-center">
          <a href="" class="button large secondary">Add a store to our website</a>
        </div>
    	</div>
    </div>

    <footer>
      <div class="row" style="text-align: left;">
        BTC Stores<span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">©</span>.

        <a href="">Home Page</a>
        &bull;
        <a href="">About</a>
        &bull;
        <a href="">All categories</a>
        &bull;
        <a href="">Advertise</a>
        &bull;
        <a href="">Contact</a>
      </div>
    </footer>
    
    
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
