<!-- Page title -->
<% title "Add a New Store" %>

<div class="panel" id="cinza">
  <div class="row">
  		<div class="large-6 large-centered columns">
			<h1 class="text-center">New Store</h1>
			<br />
			<%= render 'form' %>
		</div>
	</div>
</div>
