/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation/normalize.css
 *= require foundation/foundation.min.css
 *= require_tree ./static/
 *= require_tree ./categories/
 * require_tree .
 */

 @font-face {
  font-family: 'Cubano';    
  src: url('/assets/cubano-regular-webfont.eot');
  src: url('/assets/cubano-regular-webfont.eot?iefix') format('eot'),
  url('/assets/cubano-regular-webfont.woff') format('woff'),
  url('/assets/cubano-regular-webfont.ttf') format('truetype'),
  url('/assets/cubano-regular-webfont.svg#webfont3AwWkQXK') format('svg');
  font-weight: 600;
  font-style: bold;
}
