<!-- Page title -->
<% title "Browse All Categories" %>

<!-- Meta tags -->
<% set_meta_tags :description => "Search between our categories and discover great sites that accept Bitcoin as payment method.",
      :keywords => 'Bitcoin, Directory, Stores, payment, method, sites, accept, btc, electronics, home, health, automotive, softwares, games, services', 
      :robots => 'index, follow',
      :author => ["Fernando Paladini", "Guilherme Passos"],
      :og => {
        :title    => "Browse All Categories # BTC-Stores",
        :type     => 'website',
        :url      => request.original_url,
        :site_name => 'BTC-Stores'
      },
      :twitter => {
        :card => "summary",
        :title => "Browse All Categories # BTC-Stores",
        :description => "Search between our categories and discover great sites that accept Bitcoin as payment method."
      }
  %>

<div class="panel" id="cinza">
  <div class="row">
    <h3>Categories:</h3>
    <br/>
    <% @categories.each do |category| %>
      <a href="<%= url_for category %>">
        <div class="store">
          <div class="store-above">
            <div class="store-name">
              <h4><%= category.name %> (<%= category.item.size %>)</h4>
              <!--  This category have  stores. -->
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <br/><br/>
  <div class="row">
    <div class="large-12 columns large-centered text-center">
      <a href="<%= url_for new_item_path %>" class="button large secondary">Add a store to our website</a>
    </div>
  </div>
</div>
