<header id="general-header">
    <div class="row collapse">
      <div id="searchbar-top">
        <div class="small-4 large-4 columns">
          <h1><%= link_to "BTC-Stores", :controller => "static", :action => "index" %></h1>
        </div>
        <div class="small-6 columns">
          <input type="text" placeholder="Search stores by term, name or country..." />
        </div>
        <div class="small-2 columns">
          <a href="" class="postfix button">Search</a>
        </div>
      </div>
    </div>
</header>